body {
  background-color: black;
  margin: 0;
}
footer {
  background-color: #641111;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}
a {
  text-decoration: none;
}
#projectDesc {
  position: absolute;
  left: 5%;
  top: 30%;
  font-size: 20px;
}
#projectDate {
  position: absolute;
  left: 30%;
  top: 30%;
  font-size: 20px;
}
#email {
  position: absolute;
  left: 50%;
  top: 30%;
  font-size: 20px;
  color: black
}
#pryntl {
  position: absolute;
  left: 80%;
  top: 30%;
  font-size: 20px;
}
#pryntl2 {
  color: black
}
#title {
  color: #8d6161;
  font-size: 40px;
  display: flex;
  justify-content: center;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes title {
  100% {
    color: #641111;
  }
}

#shadow1 {
  background-color: #641111bb;
  width: 210px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  position: absolute;
  top: 15%;
  left: 10%;
  box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.61);
  animation-name: shadow1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes shadow1 {
  20% {box-shadow: none;}
}
#shadow1:hover {
  width: 230px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 7px #641111bb;
}

#background1 {
  background-color: rgba(0, 0, 0, 0.661);
  width: 170px;
  height: 190px;
  display: flex;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition-duration: 1s;
}
#shadow1:hover > #background1 {
  border: 2px solid  #8d6161;
}
#title1 {
  color: #8d6161;
  font-size: 30px;
  text-decoration: none;
  border: 2px solid #641111;
  height: 50px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bolder;
  margin-top: 10px;
  transition-duration: 1s;
  animation-name: title1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes title1 {
  50% {color: white;}
}
#title1:hover {
  font-size: 35px;
  border: 2px solid white;
  color: white;
}
#footer1 {
  height: 30%;
  width: 80%;
  position: absolute;
  bottom: 20%;
}
#description1 {
  color: #8d6161;
  font-size: 22px;
  position: absolute;
  bottom: 30%;
  left: 9%;
  font-family: arial;
  transition-duration: 1s;
  background-color: #64111185;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #641111;
}
#description1:hover {
  border: 2px solid white;
}
#shadow1:hover #description1 {
  left: 12%;
}
#desc1 {
  color: #8d6161;
  font-family: arial;
  background-color: #64111185;
  border: 2px solid #641111;
  position: absolute;
  bottom: 15%;
  left: 7%;
  width: 145px;
  text-align: center;
  font-size: 17px;
  display: none;
  padding: 5px;
}

#footer1:active > #description1 {
  display: none;
}
#footer1:active > #desc1 {
  display: block;
  border: 2px solid white;
  border-radius: 5px;
}
